body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

#dropZone {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 1px solid #ccc;
  }

#copyright {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
  text-align: left;
}

#dropZone {
  transform: scale(0.7);         
  transform-origin: top left;    
 }
  
#background {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  display: block;
  width: 5000px;  
  height: 1029px;
}


#ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: red;
}

.character {
  position: absolute;
  bottom: 0;
  transform-origin: bottom center;
  cursor: grab;
}

.character img {
  height: auto;      
  max-height: auto; 
  width: auto;
  display: block;
}

.character:active {
  cursor: grabbing;
}

.character {
  position: absolute;
  bottom: 0;
}

.name {
  display: inline-block;   
  background: rgba(255, 255, 255, 0.85);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 19px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
}
